Malformed use of local-preference discovered in configuration

In the config file of AS 1&3 , the author is trying to set local-preference on route records sent to EBGP peers (e.g. rt2.md 63L) , which fails to obey RFC 4271. 

In [RFC 4271 section 5.1.5](https://www.rfc-editor.org/rfc/rfc4271#section-5.1.5), it says "A BGP speaker MUST NOT include this attribute in UPDATE messages it sends to external peers, except in the case of BGP Confederations.  If it is contained in an UPDATE message that is received from an external peer, then this attribute MUST be ignored by the receiving speaker, except in the case of BGP Confederations."

If you want to tell EBGP peers the right route to use, you should configure med (i.e. apply cost) instead of local-preference.